Body {
    font-family: 'Indie Flower', cursive;
    color: whitesmoke;
    background-color: dimgrey;
    padding: 30px;
}

h1 {
    font-size: 30px;
    text-align: center;
    text-decoration-line: underline;
}
td {
    padding: 5px;
}
a, a:hover, a:active, a:visited {
    color: white
}
table {
    border-style: double;
    border-color: black;
}
footer {
    font-size: 12px;
}